{
    "branches": [
        "main"
    ],
    "plugins": [
        "@semantic-release/commit-analyzer",
        "@semantic-release/github",
        "@semantic-release/npm",
        "@semantic-release/release-notes-generator",
        [
            "@semantic-release/changelog",
            {
                "changelogTitle": "# CHANGELOG"
            }
        ],
        [
            "@semantic-release/exec",
            {
                "verifyConditionsCmd": "node ./release/verify.js",
                "prepareCmd": "node ./release/prepare.js && yarn docs"
            }
        ],
        [
            "@semantic-release/git",
            {
                "assets": [
                    "package.json",
                    "CHANGELOG.md",
                    "README.md",
                    "README-zh-CN.md"
                ],
                "message": "chore(release): ${nextRelease.version} [skip ci]\n\n${nextRelease.notes}"
            }
        ],
        "@qiwi/semantic-release-gh-pages-plugin"
    ]
}